<div ng-include="'components/navbar/navbar.html'"></div>

<script type="text/ng-template" id="groupViewModal.html">
    <div class="modal-header" id="group-heading"> 
      <h3 ng-hide="editorEnabledName" class="modal-title">{{currGroup.name}}
      <button class="btn btn-primary" ng-click="enableEditorName()">Edit Name</button></h3>
      <div ng-show="editorEnabledName">
        <form name="name" class= "form-inline" ng-submit="saveName()" novalidate>
          <input type="text" class="form-control" name= "gName" ng-model="newName" ng-show="editorEnabledName" required=""/>
          <button class="btn btn-primary" type="submit">Save</button>
          <button class="btn btn-primary" ng-click="disableEditor()">cancel</button>
        </form>
      </div>
    </div> 
    <div class="modal-body">
    <tabset>
      <tab heading="Members"><legend id="heading">Group Members</legend>
        <div class="row-md-4" ng-repeat="member in currGroup.members"> {{member}} 
          <button class="btn btn-primary" ng-click="removeMember(member)">Remove Member</button>
        </div>
        <div>{{position}}{{currGroup}}</div>
      </tab>
      <tab heading="Tasks"><legend id="heading">Group Tasks</legend>
        <button class="btn btn-default" ng-click="viewIsCollapsed = !viewIsCollapsed">View Assigned Tasks</button>
	    <div collapse="viewIsCollapsed">
		  <div class="well well-lg" ng-repeat="task in iTasks">
		    <div>Project: {{show_id}}</div>
		    <div>Description: {{task.description}}</div>
		    <div>Status: {{task.status}}</div>
		    <div>Assigned By: {{task.assignedByUser_id}} on {{task.dateCreated}}</div>
		    <div>Deadline: {{task.deadline}}</div>
		    <button class="btn btn-primary" id="task-button" ng-click="changeStatus(task)">Mark Completed</button>
		    <button class="btn btn-primary" id="task-button" ng-click="removeTask(task)">Remove Task</button>
		  </div> 
	    </div>
	    <hr>
	    <button class="btn btn-default" ng-click="completeIsCollapsed = !completeIsCollapsed">View Completed Tasks</button>
	    <div collapse="completeIsCollapsed">
		  <div class="well well-lg" ng-repeat="task in cTasks">
		    <div>Project: {{show_id}}</div>
		    <div>Description: {{task.description}}</div>
		    <div>Status: {{task.status}}</div>
		    <div>Assigned By: {{task.assignedByUser_id}} on {{task.dateCreated}}</div>
		    <div>Deadline: {{task.deadline}}</div>
		    <button class="btn btn-primary" id="task-button" ng-click="removeTask(task)">Remove Task</button>
		  </div> 
	    </div>
	    <hr>
	    <button class="btn btn-default" ng-click="assignIsCollapsed = !assignIsCollapsed">Create New Task</button>
	    <div collapse="assignIsCollapsed">
		  <div class="well well-lg">
		    <form name="assignTask" ng-submit="createTask(taskDesc, dt)" novalidate>
		      <div class="form-group">
		        <label>Project:</label>
		        <select>
  			      <option value="volvo">Volvo</option>
  			      <option value="saab">Saab</option>
  			      <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select> 
              </div>
     	      <div class="form-group">
		        <label>Description:</label>
		        <input type="text" class="form-control" name="tName" ng-model="taskDesc" placeholder="Description"/>
		      </div>
		      <div class="form-group">
		        <div style="display:inline-block; min-height:290px;">
		      	<label>Completion Date: </label>
		        <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
 				<pre>Date Selected: <em>{{dt | date:'fullDate' }}</em></pre>
                </div>
		      </div>
   	          <div class="form-group">
		        <button class="btn btn-primary" type="submit">Assign</button>
		      </div>
		    </form>
		  </div> 
	    </div>
	  </tab>
      <tab heading="Send Message"><legend id="heading">Send A New Message</legend></tab>
      <tab heading="Send Form"><legend id="heading">Send A New Form</legend></tab>
      <tab heading="Projects"><legend id="heading">Current Projects</legend></tab>
      <tab heading="Production Meeting"><legend id="heading">Current Scheduled Meeting</legend></tab>
    </tabset>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</script>

<div class="container">
	<button class="btn btn-default" ng-click="createIsCollapsed = !createIsCollapsed">Create New Group</button>
	<div collapse="createIsCollapsed">
        <div class="well well-lg">
		    <form name="cGroup" ng-submit="createGroup()" novalidate>
		        <div class="form-group">
		            <label>Group Name:</label>
		            <input type="text" class="form-control" name="gName" ng-model="groupName" placeholder="Group Name" required/>
		        </div>
		        <div class="form-group has-error">
          			<p class="help-block" ng-show="cGroup.gName.$error.required && submitted">
             		Please enter a Group Name.
          			</p>
          		</div>
		        <div class="form-group">
		       		<label>Website:</label>
		        	<input type="text" class="form-control" name="gURL" ng-model="websiteURL" placeholder="Website URL"/>
		        </div>
		        <div class="form-group">
		        	<label>Facebook:</label>
		        	<input type="text" class="form-control" name="gFacebook" ng-model="facebookURL" placeholder="Facebook URL"/>
		        </div>
		        <div class="form-group">
		        	<label>Social Media:</label>
		        	<input type="text" class="form-control" name="gMedia" ng-model="mediaURL" placeholder="Social Media URL"/>
		        </div>
		        <div class="form-group">
		        	<button class="btn btn-primary" type="submit">Create Group</button>
		        	<button class="btn btn-primary" type="reset">Reset</button>
		        </div>
		    </form>
        </div> 
	</div>
	<hr>
	<div class="form-group">
		<div class="input-group">
			<input class="form-control" ng-model="searchText" type="search" placeholder="Search groups">
			<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
		</div>
	</div>
	<div class="row" ng-repeat="groupRow in groupRows">
		<div class="col-md-4" ng-repeat="group in groupRow | filter: searchText" id="group">
			<div class="panel panel-primary">
				<div class="panel-heading" id="group-heading">
					<h4>{{group.name}}</h4>
				</div>
				<div class="panel-body">
					<div class="well well-sm">
						<button class="btn btn-primary" ng-click="open(group)">View</button>
						<button class="btn btn-primary" ng-click="remove(group)">Remove</button>
					</div>
					<div>
						<progressbar max="100" value="50" type="success"><b>Progress</b></progressbar>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>