<div class="container">
	<button ng-click="post()">New dummy group</button>
	<div class="row" ng-repeat="groupRow in groupRows">
		<div class="col-md-4" ng-repeat="group in groupRow" id="group">
			<div class="panel panel-primary">
				<div class="panel-heading" id="group-heading">
					<h4>{{group.name}}</h4>
				</div>
				<div class="panel-body">
					<div class="well well-sm">
						<button class="btn btn-primary" ng-click="remove(group)">View</button>
						<button class="btn btn-primary" ng-click="remove(group)">Remove</button>
					</div>
					<div>
						<progressbar max="100" value="50" type="success"><b>Progress</b></progressbar>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>