<div ng-include="'components/navbar/navbar.html'"></div>

<script type="text/ng-template" id="groupViewModal.html">
    <div ng-hide="editorEnabledName" class="modal-header"> 
      <h3 class="modal-title">{{currGroup.name}}
      <a href='#' ng-click="enableEditorName()">Edit Name</a></h3>
    </div>
    <div ng-show="editorEnabledName">
      <form name="name" ng-submit="saveName()" novalidate>
        <input type="text" name= "gName" ng-model="newName" ng-show="editorEnabledName" required=""/>
        <div>
          <input type="submit" value="Save"/>
          or
          <a href="#" ng-click="disableEditor()">cancel</a>
        </div>
      </form>
    </div> 
    <div class="modal-body">
    <tabset>
      <tab heading="Members"><h4>Group Members</h4><div class="row-md-4" ng-repeat="member in currGroup.members"> {{member}} <button class="btn btn-primary" ng-click="removeMember(member)">Remove Member</button></div><div> {{position}}{{currGroup}}</div></tab>
      <tab heading="Assign Group Task">Group Task Stuff</tab>
      <tab heading="Send Message">Send Message Stuff</tab>
      <tab heading="Send Form">Form Stuff</tab>
      <tab heading="Projects">Projects Stuff</tab>
      <tab heading="Production Meeting">Production Meeting Stuff</tab>
    </tabset>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</script>

<div class="container">
	<button class="btn" ng-click="post()">New dummy group</button>
	<div class="form-group">
		<div class="input-group">
			<input class="form-control" ng-model="searchText" type="search" placeholder="Search groups">
			<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
		</div>
	</div>
	<div class="row" ng-repeat="groupRow in groupRows">
		<div class="col-md-4" ng-repeat="group in groupRow | filter: searchText" id="group">
			<div class="panel panel-primary">
				<div class="panel-heading" id="group-heading">
					<h4>{{group.name}}</h4>
				</div>
				<div class="panel-body">
					<div class="well well-sm">
						<button class="btn btn-primary" ng-click="open(group)">View</button>
						<button class="btn btn-primary" ng-click="remove(group)">Remove</button>
					</div>
					<div>
						<progressbar max="100" value="50" type="success"><b>Progress</b></progressbar>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>