<div class="modal-header">
  <h3 class="modal-title">New production meeting</h3>
</div>

<div>
  <form class="new-meeting-form">

    <div class="modal-body">
      Production Meeting Title: <input type="text" ng-model="newMeeting.title" /><br /><br />
      Group:
      <select ng-model="newMeeting.group" ng-options="group._id as group.name for group in groups">
        <option value="">Select a theatre group</option>
      </select>
      <br /><br />
      Show: <input type="text" ng-model="newMeeting.show" /><br />
    </div>

    <div class="modal-footer">
      <input type="button" ng-click="createNewMeeting()" value="Create">
      <input type="button" ng-click="cancel()" value="Cancel">
    </div>

  </form>
</div>
