<div class="modal-header">
  <h3 class="modal-title">New production meeting</h3>
</div>

<div>
  <form class="new-meeting-form">

    <div class="modal-body">

      <div class="form-group form-inline">
        <label>Production Meeting Title:</label>
        <input type="text" class="form-control" name="title" ng-model="newMeeting.title" placeholder="Title" />
      </div>

      <div ng-hide="chosenGroup" class="form-group form-inline">
        <label>Group:</label>
        <select class="btn btn-default" ng-model="newMeeting.group" ng-options="group._id as group.name for group in groups">
          <!-- <option value="">Select a theatre group</option> -->
        </select>
      </div>

      <div ng-show="chosenGroup" class="form-group form-inline">
        <label>Group:</label>
        {{chosenGroup.name}}
      </div>

      <div class="form-group form-inline">
        <label>Show:</label>
        <input type="text" class="form-control" name="show" ng-model="newMeeting.show" placeholder="Show" />
      </div>

    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="createNewMeeting()">Create</button>
      <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
    </div>

  </form>
</div>
