$animate-duration: 1.0s;

@mixin transform-style($value) {
	-webkit-transform-style: $value;
	-moz-transform-style: $value;
	-o-transform-style: $value;
	transform-style: $value;
}

@mixin transition($value) {
	-webkit-transition: -webkit-transform $value;
	-moz-transition: -moz-transform $value;
	-o-transition: -o-transform $value;
	transition: transform $value;
}

#about-us-content {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

#carousel-container {
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
	border: 0px;
	perspective: 1100px;
}

#carousel-translate {
	width: 100%;
	height: 100%;
	position: absolute;
	@include transform-style(preserve-3d);
}

#carousel {
	width: 100%;
	height: 100%;
	position: absolute;
	@include transform-style(preserve-3d);
	@include transition($animate-duration);
}

.carousel-cube {
	@include transform-style(preserve-3d);

	&.inactive:hover {
		cursor: pointer;
	}

	&.active:hover {
		transform: rotateY(180deg);
	}
}

.carousel-panel {
	display: block;
	position: absolute;
	background-color: #ccc;
	background: url(../assets/images/white-noise.jpg);
	@include transition($animate-duration);

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		opacity: 1;
		width: 100%;
		height: 100%;
		z-index: -5;
		background: radial-gradient(at top left, transparent, rgba(0,0,0,0.1));
	}
}

.front, .back, .left, .right {
	-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), to(RGBA(0, 0, 0, 0.3)));
}