#carouselContainer {
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
	border: 0px;
	perspective: 1100px;
}

#carouselTranslate {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#carousel {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1.0s;
	-moz-transition: -moz-transform 1.0s;
	-o-transition: -o-transform 1.0s;
	transition: transform 1.0s;
}

#carousel .carouselPanel {
	display: block;
	position: absolute;
	font-weight: bold;
	color: white;
	text-align: center;
	cursor: pointer;
}

#carousel .carouselPanel:hover {
	outline: 5px solid black;
}