<div ng-include="'components/navbar/navbar.html'"></div>

<div class="about-us-content">
	<div class="carousel-container" ng-style="carouselContainerStyle()">
		<div class="carousel-translate" ng-style="carouselTranslateStyle()">
			<figure class="floor" ng-style="floorStyle()"></figure>
			<div class="carousel" ng-model="carousel" ng-style="carouselStyle()">
				<div ng-repeat="cube in cubes" hm-tap="switchTo($index)" class="carousel-cube" ng-style="cube.cubeStyle" ng-class="getActivityClass($index)">
					<figure ng-style="panelStyle(cube, 'front', $index)" class="carousel-panel front" ng-class="getActivityClass($index)"></figure>
					<figure ng-style="panelStyle(cube, 'back', $index)" class="carousel-panel back" ng-class="getActivityClass($index)"></figure>
					<figure ng-style="panelStyle(cube, 'top', $index)" class="carousel-panel top" ng-class="getActivityClass($index)"></figure>
					<figure ng-style="panelStyle(cube, 'bottom', $index)" class="carousel-panel bottom" ng-class="getActivityClass($index)"></figure>
					<figure ng-style="panelStyle(cube, 'left', $index)" class="carousel-panel left" ng-class="getActivityClass($index)"></figure>
					<figure ng-style="panelStyle(cube, 'right', $index)" class="carousel-panel right" ng-class="getActivityClass($index)"></figure>

					<figure ng-style="dataStyle(cube, 'info', $index)" class="carousel-data info" ng-class="getActivityClass($index)">
						<h2>{{cube.group.info}}</h2>
					</figure>
				</div>
			</div>
		</div>
	</div>
</div>
