<div ng-include="'components/navbar/navbar.html'"></div>

<div class="jumbotron container" id="application-period">
	<h1>Application period</h1>
	<h4>{{elapsedDays}}/{{totalDays}} days passed, {{remainingDays}} {{remainingDaysString}}</h4>

	<div class="row" id="dates">
		<div class="col-md-4">
			<datetimepicker date-format="dd-MMM-yyyy"readonly-time="false" ng-model="startDate"></datetimepicker>
		</div>

		<div class="col-md-4">
			<progressbar id="progressbar" class="progress active" value="progressFraction*100" type="{{progressType}}"></progressbar>
		</div>

		<div class="col-md-4">
			<datetimepicker date-format="dd-MMM-yyyy"readonly-time="false" ng-model="endDate"></datetimepicker>
		</div>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>