p {
    white-space: pre;
}

.panel-default .panel-heading {
    text-align: center;
    background-color: #2ec4b6;
}

.prodMeetingHeading {
    text-align: center;
}

.editProdButton {
    text-align: right;
}

#deleteProdButton {
    text-align: right;
}

#allProdButton {
    text-align: center;
}

