<!--Include the nav bar component-->
<div ng-include="'components/navbar/navbar.html'"></div>

<br/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <legend>{{currProfile.name}}</legend>
    </div>
    <div class="col-sm-12">
      <label>Email:</label>
      <div ng-hide="editorEnabledEmail"> 
        {{currProfile.email}}
      </div>
    </div>
    <div class="col-sm-12">
      <br />
      <!--Display phone number and appropriate editor with validation catches-->
      <label>Phone:</label>
      <div ng-hide="editorEnabledPhone"> 
        {{currProfile.phone}}
        <button class="btn btn-primary btn-xs" ng-click="enableEditorPhone()">Edit</button>
      </div>
      <div ng-show="editorEnabledPhone">
        <form name="phone" class="form-inline" ng-submit="savePhone()" novalidate>
          <input ng-pattern="/^(\d)+$/" class="form-control" placeholder="Phone Number" ng-minlength="10" ng-maxlength="10" name="uPhone" ng-model="newPhone" ng-show="editorEnabledPhone" required=/>
          <div class="form-group has-error">
            <span class="help-block" ng-show="phone.uPhone.$error.required && phoneSubmitted">Tell us your phone number.</span>
            <span class="help-block" ng-show="(phone.uPhone.$error.minlength || phone.uPhone.$error.maxlength) && phoneSubmitted">phone number must be 10 digits.</span>
            <span class="help-block" ng-show="phone.uPhone.$error.pattern && phoneSubmitted">This is not a valid phone number.</span>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-danger" type="button" ng-click="disableEditor()">Cancel</button>
          </div>
        </form> 
      </div>     
    </div>
    <div class="col-sm-12">
      <br />
      <!--Display home address details and appropriate editor with validation catches-->
      <label>Home Address:</label>
      <div ng-hide="editorEnabledHome"> 
        {{currProfile.addressHome}}
        <button class="btn btn-primary btn-xs" ng-click="enableEditorHome()">Edit</button>
      </div>
      <div ng-show="editorEnabledHome">
        <form name="home" class="form-inline" ng-submit="saveHome()" novalidate>
          <input class="form-control" name="uHome" ng-model="newHome" ng-show="editorEnabledHome" placeholder="Home Address"required/>
          <div class="form-group has-error">
            <span class="help-block" ng-show="home.uHome.$error.required && homeSubmitted">Tell us your home address.</span>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-danger" type="button" ng-click="disableEditor()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-12">
      <br />
      <!--Display term address details and appropriate editor with validation catches-->
      <label>Term Address:</label>
      <div ng-hide="editorEnabledTerm"> 
        {{currProfile.addressTerm}}
        <button class="btn btn-primary btn-xs" ng-click="enableEditorTerm()">Edit</button>
      </div>
      <div ng-show="editorEnabledTerm">
        <form name="term" class="form-inline" ng-submit="saveTerm()" novalidate>
          <input name="uTerm" class="form-control" ng-model="newTerm" ng-show="editorEnabledTerm" placeholder="Term Address" required/>
          <div class="form-group has-error">
            <span class="help-block" ng-show="term.uTerm.$error.required && termSubmitted">Tell us your term address.</span>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-danger" type="button" ng-click="disableEditor()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-12">
      <br />
      <!--Display role-->
      <label>Role:</label> {{ currProfile.role }}
    </div>
  </div>
</div>

<!--include footer component-->
<div ng-include="'components/footer/footer.html'"></div>