<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" ng-show="!isAdmin()">
    <p>The projects route is restricted to users with the 'admin' role.</p>
</div>  

<div class="container" ng-show="isAdmin()">
    <button class="btn btn-default" ng-click="createIsCollapsed = !createIsCollapsed">Create New Project</button>
	<div collapse="createIsCollapsed">
        <div class="well well-lg">
            <form name="newProject" ng-submit="createProject()" novalidate>
                <div class="form-group">
                    <label>Project Name:</label>
                    <input type="text" class="form-control" name="name" ng-model="showName" placeholder="Working Title" required/>
                </div>
                <div class="form-group has-error">
                    <p class="help-block" ng-show="newProject.name.$error.required && submitted">
                    Please enter a Project Name (Working Title).
                    </p>
                </div>
                <div class="form-group">
                    <label>Status:</label>
               	    <select name="showStatus" class="form-control" ng-model="showStatus" ng-options="status.status as status.status for status in statusOptions" required>
                        <option value="" selected>--Select a status--</option>
           		    </select>
                </div>
                <div class="form-group has-error">
                    <p class="help-block" ng-show="newProject.showStatus.$error.required && submitted">
                    Please select a Project Status.
                    </p>
                </div>
                <div class="form-group">
                    <label>Group:</label>
                    <select name="showGroup" class="form-control" ng-model="showGroup" ng-options="group._id as group.name for group in groups | orderBy:'name'" required>>
                        <option value="" selected>--Select a group--</option>
                    </select>
                </div>
                <div class="form-group has-error">
                    <p class="help-block" ng-show="newProject.showGroup.$error.required && submitted">
                    Please select a Group.
                    </p>
                </div>
                <div class="form-group" style="display:inline-block; min-height:290px;">
		      		<label>Project Date: </label>
		        	<datepicker name="date" ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" required></datepicker>
 					<pre>Date Selected: <em>{{dt | date:'fullDate' }}</em></pre>
                </div>
                <div class="form-group has-error">
                    <p class="help-block" ng-show="newProject.date.$error.required && submitted">
                    Please select a Project Date.
                    </p>
                </div>
                <div>
                	<button class="btn btn-primary" type="submit">Create Project</button>
                	<button class="btn btn-primary" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="jumbotron" ng-hide="projectsLoaded">
        <h1>Loading...</h1>
    </div>
    <div ng-hide="projectData">
        <p>There are currently no projects to display.</p>
    </div>
    <div ng-show="projectData && projectsLoaded">
        <div class="input-group">
            <input class="form-control" ng-model="searchText" type="search" placeholder="Search projects">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
        </div>
    </div>
	<div class="col-md-4" ng-repeat="project in projectshows | filter:{showName:searchText}" id="project">
		<div class="panel panel-primary">
			<div class="panel-heading" id="project-heading">
				<h4>{{project.showName}}</h4>
			</div>
			<div class="panel-body">
				<div class="well well-sm" id="inner-elements">
					<div>{{project.showName}}, {{project.showStatus}}</div>
					<button class="btn btn-primary" ng-click="open(project)">Manage</button>
					<button class="btn btn-danger" ng-click="delete(project)">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>