<!--Include the nav bar component-->
<div ng-include="'components/navbar/navbar.html'"></div>

<br/>

<!--Security to ensure user is an admin, users will only see this paragraph when viewing-->
<div class="container" ng-show="!isAdmin()">
    <p>The projects route is restricted to users with the 'admin' role.</p>
</div>  

<!--Checked for admin, show the route-->
<div class="container" ng-show="isAdmin()">
    <!--Button to create new projects, shows form on toggle-->
    <button class="btn btn-default" ng-click="createIsCollapsed = !createIsCollapsed">Create New Project</button>
	<div collapse="createIsCollapsed">
        <div class="well well-lg">
            <form name="newProject" ng-submit="createProject()" novalidate>
                <div class="form-group">
                    <label>Project Name:</label>
                    <input type="text" class="form-control" name="name" ng-model="showName" placeholder="Working Title" required/>
                </div>
                <div class="form-group has-error">
                    <p class="help-block" ng-show="newProject.name.$error.required && submitted">
                    Please enter a Project Name (Working Title).
                    </p>
                </div>
                <div class="form-group">
                    <label>Status:</label>
               	    <select name="showStatus" class="form-control" ng-model="showStatus" ng-options="status.status as status.status for status in statusOptions" required>
                        <option value="" selected>--Select a status--</option>
           		    </select>
                </div>
                <div class="form-group has-error">
                    <p class="help-block" ng-show="newProject.showStatus.$error.required && submitted">
                    Please select a Project Status.
                    </p>
                </div>
                <div class="form-group">
                    <label>Group:</label>
                    <select name="showGroup" class="form-control" ng-model="showGroup" ng-options="group._id as group.name for group in groups | orderBy:'name'" required>>
                        <option value="" selected>--Select a group--</option>
                    </select>
                </div>
                <div class="form-group has-error">
                    <p class="help-block" ng-show="newProject.showGroup.$error.required && submitted">
                    Please select a Group.
                    </p>
                </div>
                <div class="form-group">
		      		<label>Project Date: </label>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="date" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="dt" is-open="datep.opened" min-date="minDate" max-date="maxDate" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDate($event)">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group has-error">
                    <p class="help-block" ng-show="newProject.date.$error.required && submitted">
                    Please select a Project Date.
                    </p>
                </div>
                <div>
                	<button class="btn btn-primary" type="submit">Create Project</button>
                	<button class="btn btn-primary" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <!--Loading div which prevents any projects shown until all projects data has been retrieved-->
    <div class="jumbotron" ng-hide="projectsLoaded">
        <h1>Loading...</h1>
    </div>
    <!--If no group data is found show this message-->
    <div ng-hide="projectData">
        <p>There are currently no projects to display.</p>
    </div>
    <!--If projectdata exists, show the projects-->
    <div ng-show="projectData && projectsLoaded">
        <!--Search function and order by filter to help find appropriate projects-->
        <div class="form-group col-md-6">
            <div class="input-group">
                <input class="form-control" ng-model="searchText" type="search" placeholder="Search projects by name">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
            </div>
        </div>
        <div class="form-group form-inline col-md-6">   
            <label>Sort by:</label>
            <select name="projectCat" class="form-control" ng-model="projectCategory" id="projectCategory">
                <option value="showName">Project Name</option>
                <option value="showStatus">Project Status</option>
                <option value="_id"> Creation Date</option>
                <option value="prodDate">Production Date</option>
            </select>
        </div>
    </div>
    <!--Projects organized in rows of 3 thanks to col-md-4 class. Filter specifications defined.-->
	<div class="col-md-4" ng-repeat="project in projectshows | orderBy:projectCategory | filter:{showName:searchText}" id="project">
		<div class="panel panel-primary">
			<div class="panel-heading" id="project-heading">
				<h4>{{project.showName}}</h4>
			</div>
			<div class="panel-body">
				<div class="well well-sm" id="inner-elements">
					<div>{{project.showName}}, {{project.showStatus}}, {{project.prodDate | date: 'dd/MM/yyyy'}}</div>
					<button class="btn btn-primary" ng-click="open(project)">Manage</button>
					<button class="btn btn-danger" ng-click="delete(project)">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>