<h1 style="text-align:center;">Administration</h1>

<div class="form-group">
  <h4>Underwriting</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.underwriting.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Contact List</h4>
  <h5><i>Number in the creative team, cast, crew and orchestra</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.contactList.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Ticketing</h4>
  <h5><i>Web/phone/ticket prices</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.ticketing.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Wheelchair Access</h4>
  <h5><i>Access is required, ticket allocation, notify Casual Theatre Worker</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.wheelchairAccess.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Bar</h4>
  <h5><i>Union Bar, Temporary Bar</i></h5>
  <h5><i>Liquor Licence – Responsible Service of Alcohol</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.bar.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Food</h4>
  <h5><i>No food in auditorium (or arrange cleaning if ok), backstage, onstage</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.food.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Front of House Manager</h4>
  <h5><i>Box Office Manager – table, chairs, cash handling</i></h5>
  <h5><i>Ushers – Duties and Responsibilities, cleaning auditorium before and after every performance, torches, Induction by Casual Theatre Worker</i></h5>

  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.frontHouseManager.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Parking</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.parking.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Royalty</h4>
  <h5><i>Performance Permissions</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.royalty.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>APRA</h4>
  <h5><i>Music licences for protected works</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.apra.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Publicity</h4>
  <h5><i>Signage – Around Campus</i></h5>
  <h5><i>Signage – Around the theatre – Light Boxes</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.publicity.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Cleaning</h4>
  <h5><i>Auditorium, dressing rooms</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.cleaning.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Security</h4>
  <h5><i>Valuable items, lock up, Stage Manager responsible</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.security.notes" placeholder="Notes">
  </textarea>
</div>