<h1 style="text-align:center;">Administration Section</h1>

<div class="form-group">
  <h4>Underwriting</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.underwriting.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Contact List – number in the creative team, cast, crew and orchestra</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.contactList.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Ticketing – web/phone/ticket prices</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.ticketing.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Wheelchair Access – access is required, ticket allocation, notify Casual Theatre Worker</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.wheelchairAccess.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Bar – Union Bar, Temporary Bar – Liquor Licence – Responsible Service of Alcohol</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.bar.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Food – no food in auditorium (or arrange cleaning if ok), backstage. onstage</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.food.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Front of House Manager</h4>
  <h5>Box Office Manager – table, chairs, cash handling</h5>
  <h5>Ushers – Duties and Responsibilities, cleaning auditorium before and after every performance, torches, Induction by Casual Theatre Worker</h5>

  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.frontHouseManager.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Parking</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.parking.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Royalty – Performance Permissions</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.royalty.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>APRA – Music licences for protected works</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.apra.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Publicity</h4>
  <h5>Signage – Around Campus</h5>
  <h5>Signage – Around the theatre – Light Boxes</h5>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.publicity.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Cleaning – auditorium, dressing rooms</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.cleaning.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Security – valuable items, lock up, Stage Manager responsible</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.administration.security.notes" placeholder="Notes">
  </textarea>
</div>