<h1 style="text-align:center;">Attending Section</h1>

<div class="form-group">
  <h4>Creative Team</h4>
  <label>Names: </label>
  <textarea class="form-control" name="name" ng-model="prodMeeting.info.attending.creativeTeam.text" placeholder="Names">
  </textarea>
</div>

<div class="form-group">
  <h4>Production Team</h4>
  <label>Names and Roles: </label>
  <textarea class="form-control" name="name" ng-model="prodMeeting.info.attending.productionTeam.text" placeholder="Names and Roles">
  </textarea>
</div>

<div class="form-group">
  <h4>Cast</h4>
  <label>Names and Roles: </label>
  <textarea class="form-control" name="name" ng-model="prodMeeting.info.attending.cast.text" placeholder="Names and Roles">
  </textarea>
</div>

<div class="form-group">
  <h4>Musicians</h4>
  <label>Names and Roles: </label>
  <textarea class="form-control" name="name" ng-model="prodMeeting.info.attending.musicians.text" placeholder="Names and Roles">
  </textarea>
</div>
