<h1 style="text-align:center;">Budget</h1>

<div class="form-group">
  <h4>Set</h4>
  <h5><i>Construction and materials</i></h5>
  <div class="form-inline">
    <label>Budget: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.set.budget" />
    &nbsp;&nbsp;
    <label>Expenditure: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.set.expenditure" />
  </div>
</div>

<br />

<div class="form-group">
  <h4>Props</h4>
  <h5><i>Hand props, food consumables</i></h5>
  <div class="form-inline">
    <label>Budget: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.props.budget" />
    &nbsp;&nbsp;
    <label>Expenditure: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.props.expenditure" />
  </div>
</div>

<br />

<div class="form-group">
  <h4>Costumes</h4>
  <div class="form-inline">
    <label>Budget: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.costumes.budget" />
    &nbsp;&nbsp;
    <label>Expenditure: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.costumes.expenditure" />
  </div>
</div>

<br />

<div class="form-group">
  <h4>Sound</h4>
  <h5><i>Materials, hires</i></h5>
  <div class="form-inline">
    <label>Budget: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.sound.budget" />
    &nbsp;&nbsp;
    <label>Expenditure: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.sound.expenditure" />
  </div>
</div>

<br />

<div class="form-group">
  <h4>Lights</h4>
  <h5><i>Gel, gaffa,hires</i></h5>
  <div class="form-inline">
    <label>Budget: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.lights.budget" />
    &nbsp;&nbsp;
    <label>Expenditure: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.lights.expenditure" />
  </div>
</div>

<br />

<div class="form-group">
  <h4>Vision</h4>
  <h5><i>Projector hires, playback, screen</i></h5>
  <div class="form-inline">
    <label>Budget: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.vision.budget" />
    &nbsp;&nbsp;
    <label>Expenditure: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.vision.expenditure" />
  </div>
</div>

<br />

<div class="form-group">
  <h4>Rehearsal Venue</h4>
  <h5><i>Tea, coffee</i></h5>
  <div class="form-inline">
    <label>Budget: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.rehearsalVenue.budget" />
    &nbsp;&nbsp;
    <label>Expenditure: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.rehearsalVenue.expenditure" />
  </div>
</div>

<br />

<div class="form-group">
  <h4>Documentation</h4>
  <h5><i>Archive, photos</i></h5>
  <div class="form-inline">
    <label>Budget: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.documentation.budget" />
    &nbsp;&nbsp;
    <label>Expenditure: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.documentation.expenditure" />
  </div>
</div>

<br />

<div class="form-group">
  <h4>Gifts/Amenities</h4>
  <h5><i>Opening night presents</i></h5>
  <div class="form-inline">
    <label>Budget: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.gifts.budget" />
    &nbsp;&nbsp;
    <label>Expenditure: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.gifts.expenditure" />
  </div>
</div>

<br />

<div class="form-group">
  <h4>Contingency</h4>
  <h5><i>Emergency</i></h5>
  <div class="form-inline">
    <label>Budget: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.contingency.budget" />
    &nbsp;&nbsp;
    <label>Expenditure: </label>
    <input type="number" class="form-control" ng-model="prodMeeting.info.budget.contingency.expenditure" />
  </div>
</div>
