<h1 style="text-align:center;">Budget Section</h1>

<div class="form-group">
  <h4>Set – construction and materials</h4>
  <label>Budget: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.set.budget" placeholder="Budget" />
  <label>Expenditure: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.set.expenditure" placeholder="Expenditure" />
</div>

<div class="form-group">
  <h4>Props – hand props, food consumables</h4>
  <label>Budget: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.props.budget" placeholder="Budget" />
  <label>Expenditure: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.props.expenditure" placeholder="Expenditure" />
</div>

<div class="form-group">
  <h4>Costumes</h4>
  <label>Budget: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.costumes.budget" placeholder="Budget" />
  <label>Expenditure: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.costumes.expenditure" placeholder="Expenditure" />
</div>

<div class="form-group">
  <h4>Sound – materials, hires</h4>
  <label>Budget: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.sound.budget" placeholder="Budget" />
  <label>Expenditure: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.sound.expenditure" placeholder="Expenditure" />
</div>

<div class="form-group">
  <h4>Lights – gel, gaffa,hires</h4>
  <label>Budget: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.lights.budget" placeholder="Budget" />
  <label>Expenditure: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.lights.expenditure" placeholder="Expenditure" />
</div>

<div class="form-group">
  <h4>Vision – projector hires, playback, screen</h4>
  <label>Budget: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.vision.budget" placeholder="Budget" />
  <label>Expenditure: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.vision.expenditure" placeholder="Expenditure" />
</div>

<div class="form-group">
  <h4>Rehearsal Venue  - tea, coffee</h4>
  <label>Budget: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.rehearsalVenue.budget" placeholder="Budget" />
  <label>Expenditure: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.rehearsalVenue.expenditure" placeholder="Expenditure" />
</div>

<div class="form-group">
  <h4>Documentation – archive, photos</h4>
  <label>Budget: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.documentation.budget" placeholder="Budget" />
  <label>Expenditure: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.documentation.expenditure" placeholder="Expenditure" />
</div>

<div class="form-group">
  <h4>Gifts/Amenities – opening night presents</h4>
  <label>Budget: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.gifts.budget" placeholder="Budget" />
  <label>Expenditure: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.gifts.expenditure" placeholder="Expenditure" />
</div>

<div class="form-group">
  <h4>Contingency - emergency</h4>
  <label>Budget: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.contingency.budget" placeholder="Budget" />
  <label>Expenditure: </label>
  <input type="number" class="form-control" ng-model="prodMeeting.info.budget.contingency.expenditure" placeholder="Expenditure" />
</div>
