<h1 style="text-align:center;">Choreographer</h1>

<div class="form-group">
  <h4>Meetings with Creatives</h4>
  <h5><i>Lighting, Set, Sound, Costumes, Props, Musical Director</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.choreographer.meetingCreative.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Rehearsal Report</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.choreographer.rehearsalReport.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Undertaking for Risk Management</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.choreographer.riskManagement.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Auditions</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.choreographer.audition.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Cast Listing</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.choreographer.castList.notes" placeholder="Notes">
  </textarea>
</div>