<h1 style="text-align:center;">Costumes</h1>

<div class="form-group">
  <h4>Design Presentation</h4>
  <h5><i>Drawings, costume renders, presentation to cast</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.costumes.design.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Construction</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.costumes.construction.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Maintenance during Performance</h4>
  <h5><i>No laundry on site</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.costumes.maintenance.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Costume extraction listing breakdown by scene and actor</h4>
  <h5><i>No laundry on site</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.costumes.costumeListing.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Ironing – board in dressing rooms</h4>
  <h5><i>Request the iron (hazardous item)</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.costumes.ironing.notes" placeholder="Notes">
  </textarea>
</div>
