<h1 style="text-align:center;">Director</h1>

<div class="form-group">
  <h4>Description of the Production</h4>
  <h5><i>The premise and settings of the performance</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.director.description.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>An arching concept for the performance</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.director.concept.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Meetings with Creatives</h4>
  <h5><i>Lighting, Set, Sound, Costumes, Props, Musical Director</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.director.meetingCreative.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Rehearsal Report</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.director.rehearsalReport.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Undertaking for Risk Management</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.director.riskManagement.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Auditions</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.director.audition.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Cast Listing</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.director.castList.notes" placeholder="Notes">
  </textarea>
</div>