<h1 style="text-align:center;">Lighting Section</h1>

<div class="form-group">
  <h4>Design Presentation of Lighting – 2 weeks before Bump In</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.design.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Operator Position – rehearsals and performance</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.operator.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Standard Rig – explanation of standard rig (add to it, not change it)</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.standardRig.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Bump In – (Guild – check the focus, refocus may be required)</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.bumpIn.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Ceiling Access – limited access to roof cavity (front of house)</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.ceilingAccess.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>(Your design presentation should include plans or locations of position of lights, strobes, smoke machine, any other effects, lights on the floor, cables used, operator position, distances, cue synopsis, equipment list)</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.design2.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Risk Assessment – Strobe Lighting, Smoke Machine, any additional equipment</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.riskAssessment.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Follow spot – operator, communications</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.followSpot.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Hire of UHT Lighting Equipment – in addition to the Standard Rig and on Rack Equipment</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.hireUHTEquipment.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Hire of External Equipment – testing and tagging</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.hireExEquipment.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Weights of Lighting Bars – addition of equipment to existing loaded bars may not be possible</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.lightingBars.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Plotting Session – cue synopsis list of each lighting cue, a script with the cues in it, and rough timing of every cue (do you have enough time) – prepare for making time of 5 minutes per lighting cue state. If you are using moving lights, there is a potential for increasing that time substantially.</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.plotting.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Moving Lighting, Special Lighting (UV), Mirror Ball, Dry Ice</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.otherLighting.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>DMX (Digital Multiplex) – lighting desk control of Dimmers, Smoke Machine, Strobe, Moving Lighting, LED Lighting and their cable runs</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.dmx.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Floor Electrician – warm up, lamp check, colour burn out replacement, fluid levels</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.floorElectrician.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Talkback locations – production desk</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.talkbackLocation.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Bump Out – return to standard rig (Union or Guild)</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.lighting.bumpOut.notes" placeholder="Notes">
  </textarea>
</div>
