<h1 style="text-align:center;">Musical Director</h1>

<div class="form-group">
  <h4>Instrument layout and map of orchestra</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.musicalDirector.layoutAndMap.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Additional hire of keyboard/s or percussion and sundry equipment</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.musicalDirector.additionalHire.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Rehearsal Report</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.musicalDirector.rehearsalReport.notes" placeholder="Notes">
  </textarea>
</div>
