<h1 style="text-align:center;">Production Manager Section</h1>

<div class="form-group">
  <h4>Production Schedule</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.productionManager.schedule.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Transport Logistics</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.productionManager.logistics.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Budgeting of Production</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.productionManager.budget.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Additional Staff Required – Lighting Operator, Sound Operator, Fly Person</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.productionManager.additionalStaff.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Induction of Crew – Safety, Footwear, Personnel Protective Equipment (PPE)</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.productionManager.induction.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Awareness of Hazards in the Workplace</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.productionManager.hazards.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Collection of Material Safety Data Sheets (MSDS) of chemicals/paints/materials etc</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.productionManager.collectionMSDS.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Handling of Timber or Metal – Gloves and Goggles</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.productionManager.handlingTimberMetal.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Use of Hand Tools – skills, seek Simon on use of hand tools</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.productionManager.handTools.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>The Role of the Casual Theatre Worker – Production Manager works closely with</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.productionManager.casualTheatreWorkerRole.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Developing Standard Operating Processes (SOP)</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.productionManager.SOP.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Developing Risk Management Strategies and their Implementation</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.productionManager.riskManagement.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Building Hours during semester – Additional costs if requested</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.productionManager.buildingHours.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Change to the Casual Theatre Worker hours/Building Access/Security</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.productionManager.casualTheatreWorkerChanges.notes" placeholder="Notes">
  </textarea>
</div>
