<h1 style="text-align:center;">Props Section</h1>

<div class="form-group">
  <h4>Design Presentation of Props</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.props.design.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Props extraction listing breakdown by scene and actor – location of</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.props.propsListing.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Risk Assessment of Props – methods to eliminate or control risk</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.props.riskAssessment.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Construction Techniques – skills available</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.props.constructionTechniques.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Food Props – food handling</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.props.foodProps.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Things that might cause a mess – water on stage, glass, confetti, fake blood</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.props.messThings.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Weapons Policy – (guns, knives, firearms) paperwork and risk management</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.props.weapons.notes" placeholder="Notes">
  </textarea>
</div>
