<h1 style="text-align:center;">Props</h1>

<div class="form-group">
  <h4>Design Presentation of Props</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.props.design.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Props extraction listing breakdown by scene and actor</h4>
  <h5><i>Location of</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.props.propsListing.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Risk Assessment of Props</h4>
  <h5><i>Methods to eliminate or control risk</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.props.riskAssessment.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Construction Techniques</h4>
  <h5><i>Skills available</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.props.constructionTechniques.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Food Props</h4>
  <h5><i>Food handling</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.props.foodProps.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Things that might cause a mess</h4>
  <h5><i>Water on stage, glass, confetti, fake blood</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.props.messThings.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Weapons Policy</h4>
  <h5><i>(guns, knives, firearms) paperwork and risk management</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.props.weapons.notes" placeholder="Notes">
  </textarea>
</div>
