<h1 style="text-align:center;">Risk Management Section</h1>

<div class="form-group">
  <h4>Set Construction – methods and structure</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.setConstruction.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Access – working at heights</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.access.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Lighting Equipment</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.lightingEq.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Sound Equipment</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.soundEq.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Sound Levels</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.soundLevels.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Personnel Protective Equipment (PPE)</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.ppe.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Damage to Equipment and Walls/Floors</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.damage.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Food and Drink – no food in control rooms</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.foodDrink.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Unusual Staging – trap doors, ladders, stairs, rostra, heights</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.unusualStaging.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Flown Scenery – cloths, weights of scenery, operation of scenery</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.flownScenery.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Fire Reduction (Fire Load) Strategies</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.fireReduction.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Rehearsals – dangers in the rehearsal room</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.rehearsals.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Fatigue – long hours, difficult physical activities</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.fatigue.notes" placeholder="Notes">
  </textarea>
</div>
