<h1 style="text-align:center;">Risk Management</h1>

<div class="form-group">
  <h4>Set Construction</h4>
  <h5><i>Methods and structure</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.setConstruction.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Access</h4>
  <h5><i>Working at heights</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.access.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Lighting Equipment</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.lightingEq.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Sound Equipment</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.soundEq.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Sound Levels</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.soundLevels.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Personnel Protective Equipment (PPE)</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.ppe.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Damage to Equipment and Walls/Floors</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.damage.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Food and Drink</h4>
  <h5><i>No food in control rooms</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.foodDrink.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Unusual Staging</h4>
  <h5><i>Trap doors, ladders, stairs, rostra, heights</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.unusualStaging.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Flown Scenery</h4>
  <h5><i>Cloths, weights of scenery, operation of scenery</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.flownScenery.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Fire Reduction (Fire Load) Strategies</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.fireReduction.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Rehearsals</h4>
  <h5><i>Dangers in the rehearsal room</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.rehearsals.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Fatigue</h4>
  <h5><i>Long hours, difficult physical activities</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.riskManagement.fatigue.notes" placeholder="Notes">
  </textarea>
</div>