<h1 style="text-align:center;">Schedule Section</h1>

<div class="form-group">
  <h4>Hours of Occupancy – submitted 6 weeks prior to Bump In, pickup and drop off times</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.schedule.occupancyHours.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Performance Times – Opening Night, Closing Night and Matinee Performances</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.schedule.times.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Number of Available Hours before additional costs – Union (60 &amp; 80) Guild (55 &amp; 75)</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.schedule.availableHours.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Have 5-7 hours of Occupancy up your sleave for emergencies</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.schedule.extraOccupancy.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Bump In/Out – Transport to and from Theatre – Set/Props/Costumes/Hire Equipment</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.schedule.bumpInOut.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Production Schedule – submitted no later than 2 weeks prior to Bump In</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.schedule.prodSchedule.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Rehearsal Schedule – can be just for cast</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.schedule.rehearsalSchedule.notes" placeholder="Notes">
  </textarea>
</div>
