<h1 style="text-align:center;">Sets</h1>

<div class="form-group">
  <h4>Design Presentation</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sets.design.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Configuration of Venue (style of presentation)</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sets.venueConfigure.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Drawings</h4>
  <h5><i>Sketches, scale plans, hanging (Fly) plot</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sets.drawings.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Risk Assessment of Set Construction</h4>
  <h5><i>Methods to eliminate or control risk</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sets.riskAssessment.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Construction Techniques</h4>
  <h5><i>Skills available, scaffolding licences, Red Card (Construction Industry Training Card)</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sets.constructTechniques.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Rostra (Staging)</h4>
  <h5><i>Hires of UHT Equipment, external equipment</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sets.rostra.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Treads (Steps)</h4>
  <h5><i>Hires of UHT Equipment, external equipment</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sets.treads.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Flats (solid scenery)</h4>
  <h5><i>Hires of UHT Equipment, external equipment</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sets.flats.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Standard Rig (Onstage Cloths, Borders, Legs, Cyclorama (white cloth backdrop), House Curtain (Tab), Black Tabs (Mid stage Black Curtains), Advance House Curtain (Purple Tabs)</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sets.standardRig.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Lighting Bar Location</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sets.lightingBar.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Projection Screen Location</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sets.projectionScreen.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Hanging Plot</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sets.hangingPlot.notes" placeholder="Notes">
  </textarea>
</div>
