<h1 style="text-align:center;">Sound</h1>

<div class="form-group">
  <h4>Design Presentation of Sound Design</h4>
  <h5><i>2 weeks before Bump In</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.design.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Playback Method</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.playback.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Operator Position</h4>
  <h5><i>Rehearsals and performance</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.operatorPos.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Grand Piano</h4>
  <h5><i>Location, tuning (UHT can arrange at cost (est $170))</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.grandPiano.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Foldback</h4>
  <h5><i>Locations, costs</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.foldback.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Musical Requirements</h4>
  <h5><i>Music stands, chairs, orchestra layout and location, lighting, conductor position, camera/tv of conductor, foldback, electrical equipment (test and tag)</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.muscialReq.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>(Your design presentation should include plans of position of projector/s, cables used, operator position, screen type/location, distances, cue synopsis, hanging hardware, equipment list)</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.design2.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Hire or UHT Sound Equipment</h4>
  <h5><i>Radio Mics, Kit Mics</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.hireUHTEquipment.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Hire of External Equipment</h4>
  <h5><i>Testing and tagging</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.hireExEquipment.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Talkback locations</h4>
  <h5><i>Production desk</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.talkback.notes" placeholder="Notes">
  </textarea>
</div>
