<h1 style="text-align:center;">Sound Section</h1>

<div class="form-group">
  <h4>Design Presentation of Sound Design – 2 weeks before Bump In</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.design.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Playback Method</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.playback.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Operator Position – rehearsals and performance</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.operatorPos.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Grand Piano – location, tuning (UHT can arrange at cost (est $170))</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.grandPiano.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Foldback – locations, costs</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.foldback.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Musical Requirements – music stands, chairs, orchestra layout and location, lighting, conductor position, camera/tv of conductor, foldback, electrical equipment (test and tag)</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.muscialReq.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>(Your design presentation should include plans of position of projector/s, cables used, operator position, screen type/location, distances, cue synopsis, hanging hardware, equipment list)</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.design2.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Hire or UHT Sound Equipment – Radio Mics, Kit Mics</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.hireUHTEquipment.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Hire of External Equipment – testing and tagging</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.hireExEquipment.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Talkback locations – production desk</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.sound.talkback.notes" placeholder="Notes">
  </textarea>
</div>
