<h1 style="text-align:center;">Stage Manager Section</h1>

<div class="form-group">
  <h4>Prompt Script</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.promptScript.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>OH&amp;S Officer in the rehearsal room</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.OHSOfficer.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Risk Management – paperwork and inspections, implantation of the risk management</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.riskManagemenr.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Incident Reports</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.incidentReports.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Timing of the Performance – Running Times</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.timing.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Show Report – every show</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.showReport.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Cleaning of the Stage Area – resetting the performance at the end of the night</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.cleaningStage.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Valuable items – lock away</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.valuableItems.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Emergencies – evacuation plan</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.emergency.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Talkback locations – production desk</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.talkback.notes" placeholder="Notes">
  </textarea>
</div>

