<h1 style="text-align:center;">Stage Manager</h1>

<div class="form-group">
  <h4>Prompt Script</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.promptScript.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>OH&amp;S Officer in the rehearsal room</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.OHSOfficer.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Risk Management</h4>
  <h5><i>Paperwork and inspections, implantation of the risk management</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.riskManagemenr.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Incident Reports</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.incidentReports.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Timing of the Performance</h4>
  <h5><i>Running Times</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.timing.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Show Report</h4>
  <h5><i>Every show</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.showReport.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Cleaning of the Stage Area</h4>
  <h5><i>Resetting the performance at the end of the night</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.cleaningStage.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Valuable items</h4>
  <h5><i>Lock away</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.valuableItems.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Emergencies</h4>
  <h5><i>Evacuation plan</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.emergency.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Talkback locations</h4>
  <h5><i>Production desk</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.stageManager.talkback.notes" placeholder="Notes">
  </textarea>
</div>
