<h1 style="text-align:center;">Vision and Communications</h1>

<div class="form-group">
  <h4>Design Presentation</h4>
  <h5><i>The required look, early organisation with the Set Designer</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.visionAndCommunications.design.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>(Your design presentation should include plans of position of projector/s, cables used, operator position, screen type/location, distances, cue synopsis, hanging hardware, equipment list)</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.visionAndCommunications.design2.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Drawings</h4>
  <h5><i>Sketches, scale plans, hanging hardware</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.visionAndCommunications.drawings.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Skills available to arrange and decide on how to do this</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.visionAndCommunications.skills.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Surtitles</h4>
  <h5><i>Projection, screen and operation</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.visionAndCommunications.surtitles.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Operator/s for the Vision System/s</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.visionAndCommunications.operator.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Hires of Equipment, external equipment</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.visionAndCommunications.hireEquipment.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Talkback locations</h4>
  <h5><i>Production desk</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.visionAndCommunications.talkback.notes" placeholder="Notes">
  </textarea>
</div>
