<h1 style="text-align:center;">Wigs and Makeup</h1>

<div class="form-group">
  <h4>Design Presentation</h4>
  <h5><i>Drawings, costume renders, presentation to cast</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.wigsAndMakeup.design.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Materials and Safety</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.wigsAndMakeup.materialsAndSafety.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Maintenance during Performance</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.wigsAndMakeup.maintenance.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Wig Blocks</h4>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.wigsAndMakeup.wig.notes" placeholder="Notes">
  </textarea>
</div>

<br />

<div class="form-group">
  <h4>Not sharing makeup application</h4>
  <h5><i>Covering when not in use</i></h5>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.wigsAndMakeup.makeup.notes" placeholder="Notes">
  </textarea>
</div>
