<h1 style="text-align:center;">Wigs and Makeup Section</h1>

<div class="form-group">
  <h4>Design Presentation – drawings, costume renders, presentation to cast</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.wigsAndMakeup.design.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Materials and Safety</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.wigsAndMakeup.materialsAndSafety.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Maintenance during Performance</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.wigsAndMakeup.maintenance.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Wig Blocks</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.wigsAndMakeup.wig.notes" placeholder="Notes">
  </textarea>
</div>

<div class="form-group">
  <h4>Not sharing makeup application – covering when not in use</h4>
  <label>Notes: </label>
  <textarea class="form-control" name="notes" ng-model="prodMeeting.info.wigsAndMakeup.makeup.notes" placeholder="Notes">
  </textarea>
</div>
