<div class="modal-header" id="project-heading">
    <h3 ng-hide="editorEnabledName" class="modal-title">{{currProject.showName}}
        <button class="btn btn-primary btn-xs" ng-click="enableEditorName()">Edit Name</button>
    </h3>
    <div ng-show="editorEnabledName">
        <form name="name" class= "form-inline" ng-submit="saveName()" novalidate>
            <input type="text" class="form-control" name= "pName" ng-model="newName" ng-show="editorEnabledName" required=""/>
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-danger" ng-click="disableEditor()">Cancel</button>
        </form>
    </div>
</div>
<div class="modal-body">Body</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
</div>