<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <br />

  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3">
      <button class="btn btn-default" ng-click="createNewProdMeeting()">New production meeting</button>
      <br /><br />
    </div>
  </div>
  
  <div ng-repeat="meeting in prodMeetings" class="col-xs-12 col-sm-4 col-md-4">

    <div class="panel panel-primary">
      <div class="panel-heading" id="group-heading" >
        <h4>
          <a style="color: white;" href="/production-meeting/{{meeting.group.name}}/{{meeting.title}}">
            <button class="btn btn-primary">{{meeting.title}}</button>
          </a>
        </h4>
      </div>
      <div class="panel-body">
        Show: {{meeting.show}}<br />
        Theatre Group: {{meeting.group.name}}
        <button class="btn btn-sm btn-default" ui-sref="group({ name: meeting.group.name })">View Group</button>
      </div>
    </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>