<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" ng-hide="isAdmin()">
  <p>This page is restricted to users with the 'admin' role only.</p>
</div>

<div class="container" ng-show="isAdmin()">

  <br />

  <div>
    <h2 class="center">Production Meetings</h2>
  </div>

  <br />
  
  <div ng-hide="prodMeetings">
    <h3><i>There are no production meetings available to display.</i></h3>
  </div>


  <div ng-show="prodMeetings">
    <div ng-show="prodMeetings.length > 6" class="row newProdButton">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <button class="btn btn-default" ng-click="createNewProdMeeting()">New production meeting</button>
        <br /><br />
      </div>
    </div>
  <!-- Display all the production meetings in order of latest created -->
    <div ng-repeat="meeting in prodMeetings | orderBy: '-date'" class="col-xs-12 col-sm-4 col-md-4">

      <div class="panel panel-primary">
        <div class="panel-heading" id="group-heading" >
          <h4>
            <a style="color: white;" href="/production-meeting/{{meeting.group.name}}/{{meeting.title}}">
              <button class="btn btn-primary">{{meeting.title}}</button>
            </a>
          </h4>
        </div>
        <div class="panel-body">
          Show: {{meeting.show}}<br />
          Theatre Group: {{meeting.group.name}}
          <button class="btn btn-sm btn-default" ui-sref="group({ name: meeting.group.name })">View Group</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row newProdButton">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <button class="btn btn-default" ng-click="createNewProdMeeting()">New production meeting</button>
      <br /><br />
    </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>