<div ng-include="'components/navbar/navbar.html'"></div>

{{ prodMeeting }}

<div class="container">

  <div class="col-xs-12 col-sm-9 col-md-9">
    <div ui-view=""></div>
    <br />
    <div>
      <div class="btn btn-primary" style="float: left;" ng-click="saveProgress('back')"
        ng-hide="$state.is('meeting-wizard.attending') || $state.is('meeting-wizard.main')" >
        <span class="glyphicon glyphicon-arrow-left"></span>
        &nbsp;Back
      </div>
      <div class="btn btn-primary" style="float: right;" ng-click="saveProgress('next')"
        ng-hide="$state.is('meeting-wizard.next-meeting')">
        Next&nbsp;
        <span class="glyphicon glyphicon-arrow-right"></span>
      </div>
      <div class="btn btn-primary" style="float: right;" ng-click="saveAndReturn()">
        Save&nbsp;
        <span class="glyphicon glyphicon-save"></span>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-3 col-md-3" align="right">
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".attending">Attending</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".administration">Administration</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".director">Director</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".musical-director">Musical Director</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".choreographer">Choreographer</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".production-manager">Production Manager</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".sets">Sets</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".props">Props</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".costumes">Costumes</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".wigs-and-makeup">Wigs and Makeup</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".lighting">Lighting</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".sound">Sound</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".vision-and-communication">Vision and communication</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".stage-manager">Stage Manager</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".schedule">Schedule</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".budget">Budget</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".risk-management">Risk Management</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".key-dates">Key Dates</a><br />
    <a class="btn btn-primary" href="" ui-sref-active="active" ui-sref=".next-meeting">Next Meeting</a><br />
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>